html {
   height: 100%;
   background-color:  #FF5F5F;
}

#flexParent {
   display: flex;
   flex-wrap: wrap;
   margin: auto;
}


#flexLeft {
   display:  inline-block;
   flex-basis: 17%;
   float: left;
   margin-top: 50px;
   margin-left:  50px;
}

#flexRight {
   display: inline-block;
   margin-top: 50px;
   margin-left: 100px;
   flex-basis: 40%;
   float:  right;
}

h2 {
   color: #FF5F5F;
}

a {
   color:  #FCFCFC;
}
